
Geog370_git/HW/HW6/tl_2022_us_county/tl_2022_us_county.shp
Geog370_git/HW/HW4/layer images/high_resolution_orthoimagery_clipped.tif
Geog370_git/HW/HW5/Cabarrus_2019/Cabarrus2019.sid copy
Geog370_git/HW/HW7/tl_2022_us_county/tl_2022_us_county.shp
